USE [master]
GO
/****** Object:  Database [imdb]    Script Date: 22-Nov-21 11:16:39 AM ******/
CREATE DATABASE [imdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'imdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\imdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'imdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\imdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [imdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [imdb]
GO
/****** Object:  Table [dbo].[equipos]    Script Date: 22-Nov-21 11:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[equipos](
	[director] [varchar](50) NOT NULL,
	[escritor] [varchar](50) NOT NULL,
	[actor1] [varchar](50) NOT NULL,
	[actor2] [varchar](50) NOT NULL,
	[actor3] [varchar](50) NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_equipos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas]    Script Date: 22-Nov-21 11:16:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](100) NOT NULL,
	[año] [int] NOT NULL,
	[puntuacion] [float] NOT NULL,
	[genero] [varchar](50) NOT NULL,
	[duracion] [bigint] NOT NULL,
	[equipo] [int] NOT NULL,
 CONSTRAINT [PK_peliculas] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[equipos]  WITH CHECK ADD  CONSTRAINT [FK_equipos_equipos] FOREIGN KEY([id])
REFERENCES [dbo].[equipos] ([id])
GO
ALTER TABLE [dbo].[equipos] CHECK CONSTRAINT [FK_equipos_equipos]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [FK_peliculas_equipos] FOREIGN KEY([equipo])
REFERENCES [dbo].[equipos] ([id])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [FK_peliculas_equipos]
GO
USE [master]
GO
